* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: rgb(75, 54, 54);
    background-color: rgba(97, 97, 97, 0.253);
}

header {
    padding: 38px 0;
    background-color: rgb(184, 34, 34);
    color:aliceblue
}

header nav li {
    display: inline;
    margin-left: 16px;
    text-decoration: none;
    font-size: 16px ;
} 

header nav a {
    color:rgb(230, 236, 241);
    text-decoration: none;
    font-size: 16px 
}

header nav a:hover {
    text-decoration: underline;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

#about .container img {
    height: 500px;

}

section .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

section {
    padding: 24px 0;
}

.social-links li img {
    height: 24px;
}

#about .text {
    padding: 24px;
}

#contact .container {
    display: block;
}

.contats-methods {
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

footer {
    background-color: rgb(184, 34, 34);
    padding: 16px 0;
}

h2,     
h3 {
    margin-bottom: 16px;
    font-weight: normal;
    font-family: 'Anton', sans-serif;
}

form textarea {
    resize: none;
    height: 180px;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
}

textarea:focus, input:focus {
    outline-color: rgb(75, 54, 54); ;
}

form button:hover {
    background-color: rgb(240, 46, 46);
}

form button {
    background-color: rgb(184, 34, 34);
    color:rgb(230, 236, 241); 
    border: none;
    padding: 14px;
    
}

header {
    font-family: 'Anton', sans-serif;
    font-weight: normal;
}

h1 {
    font-weight: normal;
}

footer p {
    color:rgb(230, 236, 241) ;
}

.social-links li a {
    text-decoration: none;
}

section p {
    margin-bottom: 8px;
}